.trip-page {
    padding: 60px 20px;
}

.trip {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 50px;
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
}

.trip__img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.trip__content {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 20px;
}

.trip__description {
    opacity: 0.7;
}

.trip__button {
    max-width: 200px;
}

.trip-info {
    width: 100%;
    max-width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-gray);
}

.trip-info__title {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: var(--font-size-400);
    font-family: 'Playfair Display', serif;
}

.trip-info__content {
    display: flex;
    font-weight: 300;
}

.trip-info__duration {
    min-width: 120px;
    padding-left: 25px;
    background-image: url('../../static/calendar.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 15px;
}

.trip-info__level::before {
    content: '•';
    margin-right: 10px;
    color: var(--color-blue-200);
}

.trip-price__value {
    display: block;
    color: var(--color-blue-200);
    font-size: var(--font-size-600);
    line-height: 1;
}