.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input__heading {
    font-size: var(--font-size-100);
    line-height: 1;
}

.input input {
    min-width: 160px;
    min-height: 45px;
    padding: 10px 15px;
    font-size: var(--font-size-300);
    background-color: var(--color-blue-100);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    appearance: none;
}

.input input::placeholder {
    color: var(--color-blue-400);
    opacity: 0.4;
}