.button {
    display: block;
    width: 100%;
    min-height: 45px;
    padding: 10px 15px;
    color: var(--color-white);
    font-size: var(--font-size-200);
    text-align: center;
    text-decoration: none;
    background-color: var(--color-blue-200);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: var(--color-blue-300);
}