.header__nav {
    position: absolute;
    right: 0;
    height: 100%;
}

.nav-header__list {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-header__item {
    border-left: 1px solid var(--color-gray);
}

.nav-header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 100%;
}

/* profile-nav */

.profile-nav {
    position: relative;
    cursor: pointer;
}

.profile-nav:hover .profile-nav__list,
.profile-nav:focus .profile-nav__list,
.profile-nav__list:focus-within .profile-nav__list {
    display: block;
}

.profile-nav__list {
    position: absolute;
    top: 90%;
    right: 15px;
    z-index: 5;
    display: none;
    min-width: 150px;
    padding: 0;
    list-style: none;
    background-color: var(--color-white);
    border-radius: 1px;
    box-shadow: var(--shadow);
}

.profile-nav__item {
    padding: 0 10px 10px;
    text-align: center;
}

.profile-nav__item:first-child {
    padding-top: 10px;
}

.profile-nav__sign-out {
    min-height: auto;
}