.trips-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    padding: 20px;
    background-color: var(--color-blue-400);
}

.trips-filter__form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 25px;
    width: 100%;
    max-width: var(--container-width);
}

.trips-filter__search {
    width: 100%;
    max-width: 350px;
}

.trips-filter__search input {
    padding-left: 50px !important;
    background-color: var(--color-white) !important;
    background-image: url('../../static/search.svg');
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 22px;
}

.trips {
    padding: 60px 20px;
}